In [1]:
import pandas as pd
import matplotlib.pylab as plt
plt.style.use('fivethirtyeight')
%matplotlib inline

## read the dataset

In [2]:
df_results = pd.read_csv('./data/results_per_team_and_opponent.csv')
df_aggregated = pd.read_csv('./data/aggregated_result_per_team_and_opponent.csv')

## Get the worst performing opponent for each team

In [3]:
team = 'Valencia CF'
temp = df_aggregated[ (df_aggregated['total_num_games']>300) & (df_aggregated['team']==team) & (df_aggregated['num_games']>10)].sort_values(by='result_metric')
temp.loc[temp['result_metric'].argmin(),'opponent']

//anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:3: FutureWarning: 'argmin' is deprecated, use 'idxmin' instead. The behavior of 'argmin'
will be corrected to return the positional minimum in the future.
Use 'series.values.argmin' to get the position of the minimum now.
  app.launch_new_instance()

'Real Sociedad'

In [4]:
df_aggregated.head()

,team,total_num_games,num_games,opponent,pct_of_points,result_metric
0,AC Ajaccio,114.0,2.0,AJ Auxerre,50.000000,3.0
1,AC Ajaccio,114.0,2.0,AS Monaco,0.000000,0.0
2,AC Ajaccio,114.0,4.0,AS Nancy-Lorraine,33.333333,4.0
3,AC Ajaccio,114.0,6.0,AS Saint-Étienne,11.111111,2.0
4,AC Ajaccio,114.0,2.0,Dijon FCO,66.666667,4.0

In [5]:
df_nemesis = pd.DataFrame(columns = ['team','nemesis', 'worst_result', 'num_games'])

## here i filter only for teams that have at least 300 games in the dataset. 
## if you want to find a team that played fewer games, simply reduce the 300 number to a lower number.
for team in df_aggregated[df_aggregated['total_num_games']>300]['team'].unique():
    temp = df_aggregated[ (df_aggregated['total_num_games']>300) & (df_aggregated['team']==team) & (df_aggregated['num_games']>10)].sort_values(by='result_metric')
    nemesis = temp.loc[temp['pct_of_points'].argmin(), 'opponent']
    num_games = temp.loc[temp['pct_of_points'].argmin(), 'num_games']
    df_nemesis.loc[len(df_nemesis)] = [team, nemesis, temp['pct_of_points'].min() , num_games]

//anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:7: FutureWarning: 'argmin' is deprecated, use 'idxmin' instead. The behavior of 'argmin'
will be corrected to return the positional minimum in the future.
Use 'series.values.argmin' to get the position of the minimum now.
//anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:8: FutureWarning: 'argmin' is deprecated, use 'idxmin' instead. The behavior of 'argmin'
will be corrected to return the positional minimum in the future.
Use 'series.values.argmin' to get the position of the minimum now.

In [6]:
df_nemesis['worst_result'] = round(df_nemesis['worst_result'],2)

In [7]:
df_nemesis.rename(columns={'worst_result':'pct_points'}, inplace=True)

In [8]:
df_nemesis.sort_values(by='pct_points', ascending = False)

                       team                 nemesis  pct_points  num_games
8              FC Barcelona           Real Sociedad       52.78       12.0
14                 Juventus                  Napoli       46.67       15.0
5                   Chelsea               Liverpool       39.58       16.0
22                   Napoli                    Roma       39.58       16.0
19        Manchester United                 Chelsea       37.50       16.0
18          Manchester City               Liverpool       37.50       16.0
12    Girondins de Bordeaux  Olympique de Marseille       37.50       16.0
24       Olympique Lyonnais     Paris Saint-Germain       31.25       16.0
25   Olympique de Marseille      Olympique Lyonnais       31.25       16.0
28           Real Madrid CF            FC Barcelona       29.17       16.0
13                    Inter                Juventus       29.17       16.0
34        Tottenham Hotspur       Manchester United       29.17       16.0
17                Liverpool                 Arsenal       29.17       16.0
36                  Udinese                Juventus       29.17       16.0
20                    Milan                Juventus       29.17       16.0
23                 OGC Nice  Montpellier Hérault SC       28.57       14.0
26      Paris Saint-Germain               AS Monaco       27.78       12.0
31         Stade Rennais FC   Girondins de Bordeaux       27.08       16.0
15               LOSC Lille     Paris Saint-Germain       27.08       16.0
29                     Roma                Juventus       25.00       16.0
1                   Arsenal                 Chelsea       25.00       16.0
37              Valencia CF            FC Barcelona       22.92       16.0
9                FC Lorient     Paris Saint-Germain       20.83       16.0
35              Toulouse FC     Paris Saint-Germain       20.83       16.0
0          AS Saint-Étienne  Olympique de Marseille       20.83       16.0
10                    Genoa                Juventus       20.00       15.0
7                   Everton                 Arsenal       18.75       16.0
33               Sunderland       Manchester United       18.75       16.0
4           Atlético Madrid            FC Barcelona       16.67       16.0
32               Stoke City       Manchester United       16.67       16.0
2               Aston Villa       Manchester United       14.58       16.0
11                Getafe CF            FC Barcelona       12.50       16.0
30               Sevilla FC            FC Barcelona       12.50       16.0
3   Athletic Club de Bilbao            FC Barcelona       12.50       16.0
21                Málaga CF            FC Barcelona        8.33       16.0
16                    Lazio                Juventus        8.33       16.0
27             RCD Espanyol          Real Madrid CF        6.25       16.0
6             Chievo Verona                   Milan        6.25       16.0

In [12]:
team = 'FC Barcelona'

temp = df_aggregated[ (df_aggregated['total_num_games']>300) &\
                     (df_aggregated['team']==team) & (df_aggregated['num_games']>10)].sort_values(by='result_metric')
temp.sort_values(by = 'pct_of_points')

,team,total_num_games,num_games,opponent,pct_of_points,result_metric
1019,FC Barcelona,304.0,12.0,Real Sociedad,52.777778,19.0
1018,FC Barcelona,304.0,16.0,Real Madrid CF,66.666667,32.0
1027,FC Barcelona,304.0,16.0,Valencia CF,66.666667,32.0
1000,FC Barcelona,304.0,12.0,CA Osasuna,72.222222,26.0
1011,FC Barcelona,304.0,12.0,RC Deportivo de La Coruña,77.777778,28.0
999,FC Barcelona,304.0,16.0,Atlético Madrid,79.166667,38.0
1028,FC Barcelona,304.0,14.0,Villarreal CF,80.952381,34.0
998,FC Barcelona,304.0,16.0,Athletic Club de Bilbao,81.250000,39.0
1005,FC Barcelona,304.0,16.0,Getafe CF,81.250000,39.0
1013,FC Barcelona,304.0,16.0,RCD Espanyol,81.250000,39.0
1024,FC Barcelona,304.0,16.0,Sevilla FC,81.250000,39.0
1008,FC Barcelona,304.0,12.0,Levante UD,88.888889,32.0
1009,FC Barcelona,304.0,16.0,Málaga CF,89.583333,43.0