In [2]:
import pandas as pd
import matplotlib.pylab as plt
plt.style.use('fivethirtyeight')
%matplotlib inline

## read the dataset

In [5]:
df_results = pd.read_csv('./data/results_per_team_and_opponent.csv')
df_aggregated = pd.read_csv('./data/aggregated_result_per_team_and_opponent.csv')

## Get the worst performing opponent for each team

In [18]:
team = 'Valencia CF'
temp = df_aggregated[ (df_aggregated['total_num_games']>300) & (df_aggregated['team']==team) & (df_aggregated['num_games']>10)].sort_values(by='result_metric')
temp.loc[temp['result_metric'].argmin(),'opponent']

//anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:3: FutureWarning: 'argmin' is deprecated, use 'idxmin' instead. The behavior of 'argmin'
will be corrected to return the positional minimum in the future.
Use 'series.values.argmin' to get the position of the minimum now.
  app.launch_new_instance()

'FC Barcelona'

In [28]:
df_nemesis = pd.DataFrame(columns = ['team','nemesis', 'worst_result', 'num_games'])

for team in df_aggregated[df_aggregated['total_num_games']>300]['team'].unique():
    temp = df_aggregated[ (df_aggregated['total_num_games']>300) & (df_aggregated['team']==team) & (df_aggregated['num_games']>10)].sort_values(by='result_metric')
    nemesis = temp.loc[temp['result_metric'].argmin(), 'opponent']
    num_games = temp.loc[temp['result_metric'].argmin(), 'num_games']
    df_nemesis.loc[len(df_nemesis)] = [team, nemesis, temp['result_metric'].min() , num_games]

//anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:5: FutureWarning: 'argmin' is deprecated, use 'idxmin' instead. The behavior of 'argmin'
will be corrected to return the positional minimum in the future.
Use 'series.values.argmin' to get the position of the minimum now.
//anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:6: FutureWarning: 'argmin' is deprecated, use 'idxmin' instead. The behavior of 'argmin'
will be corrected to return the positional minimum in the future.
Use 'series.values.argmin' to get the position of the minimum now.

In [30]:
df_nemesis

                       team                 nemesis  worst_result  num_games
0          AS Saint-Étienne     Paris Saint-Germain     -0.500000       16.0
1                   Arsenal                 Chelsea     -0.437500       16.0
2               Aston Villa       Manchester United     -0.625000       16.0
3   Athletic Club de Bilbao            FC Barcelona     -0.687500       16.0
4           Atlético Madrid            FC Barcelona     -0.625000       16.0
5                   Chelsea               Liverpool     -0.125000       16.0
6             Chievo Verona                   Milan     -0.812500       16.0
7                   Everton                 Arsenal     -0.500000       16.0
8              FC Barcelona           Real Sociedad      0.083333       12.0
9                FC Lorient     Paris Saint-Germain     -0.500000       16.0
10                    Genoa                Juventus     -0.533333       15.0
11                Getafe CF          Real Madrid CF     -0.750000       16.0
12    Girondins de Bordeaux  Olympique de Marseille     -0.062500       16.0
13                    Inter                Juventus     -0.312500       16.0
14                 Juventus                  Napoli      0.000000       15.0
15               LOSC Lille     Paris Saint-Germain     -0.312500       16.0
16                    Lazio                Juventus     -0.750000       16.0
17                Liverpool                 Arsenal     -0.250000       16.0
18          Manchester City               Liverpool     -0.125000       16.0
19        Manchester United                 Chelsea     -0.125000       16.0
20                    Milan                Juventus     -0.375000       16.0
21                Málaga CF            FC Barcelona     -0.812500       16.0
22                   Napoli                    Roma     -0.125000       16.0
23                 OGC Nice     Paris Saint-Germain     -0.375000       16.0
24       Olympique Lyonnais     Paris Saint-Germain     -0.250000       16.0
25   Olympique de Marseille     Paris Saint-Germain     -0.312500       16.0
26      Paris Saint-Germain               AS Monaco     -0.250000       12.0
27             RCD Espanyol          Real Madrid CF     -0.812500       16.0
28           Real Madrid CF            FC Barcelona     -0.375000       16.0
29                     Roma                Juventus     -0.437500       16.0
30               Sevilla FC            FC Barcelona     -0.687500       16.0
31         Stade Rennais FC   Girondins de Bordeaux     -0.312500       16.0
32               Stoke City       Manchester United     -0.625000       16.0
33               Sunderland                 Chelsea     -0.562500       16.0
34        Tottenham Hotspur       Manchester United     -0.312500       16.0
35              Toulouse FC     Paris Saint-Germain     -0.562500       16.0
36                  Udinese                Juventus     -0.375000       16.0
37              Valencia CF            FC Barcelona     -0.437500       16.0